<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width"/>

        <title>Homepage</title>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    </head>
    <body>
        <div class="panel panel-default" style="margin: 10px">
            <form class="form-inline" method="GET" th:action="@{/institution}"  style="margin: 20px 0">
                <div class="form-group">
                    <input type="text" class="form-control"
                           placeholder="Name"
                           name="string"/>
                    <button type="submit"
                            class="btn btn-primary">Search</button>
                </div>
            </form>
            <div>
                <a class="btn btn-primary" style="margin-top: 10px" th:href="@{institution/register}">Register an Institution</a>
            </div>
            <div class="panel-heading">
                <h1 class="panel-title">Instituições</h1>
            </div>
            <div class="panel-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Acronym</th>
                            <th>UORG</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="institution: ${institutions}">
                            <td th:text="${institution.id}">-</td>
                            <td th:text="${institution.name}">-</td>
                            <td th:text="${institution.acro}">-</td>
                            <td th:text="${institution.uorg}">-</td>
                            <td>
                                <form action="#" method="GET" th:action="@{../institution/update}">
                                    <input type="hidden" name="id" th:value="${institution.id}" />
                                    <button type="submit" class="btn btn-primary">Update</button>
                                </form>

                            </td>
                            <td>
                                <form action="#" method="POST" th:action="@{institution/delete}">
                                    <input type="hidden" name="id" th:value="${institution.id}" />
                                    <button type="submit" class="btn btn-danger" onclick="return confirm('Confirm?');">Delete</button>
                                </form>

                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html>