<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Welcome to the Home Page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>

<body>
<div class="panel panel-default" style="margin: 10px">
    <div class="panel-heading">
        <h1 class="panel-title">Institution Registry</h1></div>
    <div class
                 ="panel-body">
        <table class
                       ="table">
            <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Acronym</th>
                <th scope="col">UORG</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="institution: ${institutions}">
                <td th:text="${institution.id}">-</td>
                <td th:text="${institution.name}">-</td>
                <td th:text="${institution.acro}">-</td>
                <td th:text="${institution.uorg}">-</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div>
    <a th:href="@{register}">Register an Institution</a>
</div>
</body>

</html>