<!DOCTYPE html>
<html  xmlns="http://www.w3.org/1999/xhtml"
       xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Welcome to the Home Page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
  <form class="form-inline" method="POST" th:object="${institution}" th:action="@{/institution/registerInstitution}" style="margin: 20px 0">
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Name" th:field="*{name}"/>
      <input type="text" class="form-control" placeholder="Acronym" th:field="*{acro}"/>
      <input type="text" class="form-control" placeholder="Uorg (Optional)" th:field="*{uorg}"/>
      <button type="submit" class="btn btn-primary" onclick="return alert('Institution registered');">Submit</button>
    </div>
    <div style="margin-top: 10px">
        <a class="btn btn-primary" th:href="@{/institution}">Back to Home Page</a>
    </div>
  </form>
</body>
</html>